:root {
  --theme-paleblue: hsl(225, 100%, 94%);
  --theme-brightblue: hsl(245, 75%, 52%);
  --theme-verypaleblue: hsl(225, 100%, 98%);
  --theme-desaturatedblue: hsl(224, 23%, 55%);
  --theme-darkblue: hsl(223, 47%, 23%);
}

* {
  box-sizing: border-box;
  font-family: 'Red Hat Display';
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  background-color: var(--theme-paleblue);
}

main {
  background-color: white;
  width: 325px;
  height: 570px;
  margin: 25px auto 100px;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 410px;
  padding: 25px;
}

main > img {
  width: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  color: var(--theme-darkblue);
}

h2 {
  font-size: 16px;
  color: var(--theme-darkblue);
}

p {
  font-size: 16px;
  color: var(--theme-desaturatedblue);
  line-height: 1.75rem;
}

a {
  font-size: 14px;
  text-decoration: underline;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--theme-verypaleblue);
  padding: 20px;
  border-radius: 10px;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

button {
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

#button-pay {
  background-color: var(--theme-brightblue);
  color: white;
  box-shadow:0 10px 20px hsla(245, 75%, 52%, 0.281)
}

#button-cancel {
  background: none;
  color: var(--theme-desaturatedblue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}